&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label code&quot;&gt;$neon-red&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #EE4444;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#EE4444&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label code&quot;&gt;$neon-green&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #44EE44;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#44EE44&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label code&quot;&gt;$neon-blue&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #4444EE;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#4444EE&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label code&quot;&gt;$dandelion&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #EEEE44;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#EEEE44&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label code&quot;&gt;$turquoise&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #44EEEE;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#44EEEE&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;

&lt;div class=&quot;shades-tints&quot;&gt;
	&lt;ul class=&quot;shade-tint-strip neon-red&quot;&gt;
		&lt;li class=&quot;shade-tint-block tint-60&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;60% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block tint-40&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;30% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block tint-20&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;20% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block hue&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;natural&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-20&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;20% Shade&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-40&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;30% Shade&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-60&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;60% Shade&lt;/span&gt;
		&lt;/li&gt;
	&lt;/ul&gt;

	&lt;ul class=&quot;shade-tint-strip neon-green&quot;&gt;
		&lt;li class=&quot;shade-tint-block tint-60&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;60% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block tint-40&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;30% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block tint-20&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;20% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block hue&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;natural&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-20&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;20% Shade&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-40&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;30% Shade&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-60&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;60% Shade&lt;/span&gt;
		&lt;/li&gt;
	&lt;/ul&gt;

	&lt;ul class=&quot;shade-tint-strip neon-blue&quot;&gt;
		&lt;li class=&quot;shade-tint-block tint-60&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;60% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block tint-40&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;30% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block tint-20&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;20% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block hue&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;natural&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-20&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;20% Shade&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-40&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;30% Shade&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-60&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;60% Shade&lt;/span&gt;
		&lt;/li&gt;
	&lt;/ul&gt;

	&lt;ul class=&quot;shade-tint-strip dandelion&quot;&gt;
		&lt;li class=&quot;shade-tint-block tint-60&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;60% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block tint-40&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;30% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block tint-20&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;20% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block hue&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;natural&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-20&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;20% Shade&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-40&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;30% Shade&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-60&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;60% Shade&lt;/span&gt;
		&lt;/li&gt;
	&lt;/ul&gt;

	&lt;ul class=&quot;shade-tint-strip turquoise&quot;&gt;
		&lt;li class=&quot;shade-tint-block tint-60&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;60% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block tint-40&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;30% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block tint-20&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;20% Tint&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block hue&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;natural&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-20&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;20% Shade&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-40&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;30% Shade&lt;/span&gt;
		&lt;/li&gt;
		&lt;li class=&quot;shade-tint-block shade-60&quot;&gt;
			&lt;span class=&quot;sg-label&quot;&gt;60% Shade&lt;/span&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
