<ul class="sg-colors">
	<li>
		<span class="sg-label code">$neon-red</span>
		<span class="sg-swatch" style="background: #EE4444;"></span>
		<span class="sg-label">#EE4444</span>
	</li>
	<li>
		<span class="sg-label code">$neon-green</span>
		<span class="sg-swatch" style="background: #44EE44;"></span>
		<span class="sg-label">#44EE44</span>
	</li>
	<li>
		<span class="sg-label code">$neon-blue</span>
		<span class="sg-swatch" style="background: #4444EE;"></span>
		<span class="sg-label">#4444EE</span>
	</li>
	<li>
		<span class="sg-label code">$dandelion</span>
		<span class="sg-swatch" style="background: #EEEE44;"></span>
		<span class="sg-label">#EEEE44</span>
	</li>
	<li>
		<span class="sg-label code">$turquoise</span>
		<span class="sg-swatch" style="background: #44EEEE;"></span>
		<span class="sg-label">#44EEEE</span>
	</li>
</ul>

<div class="shades-tints">
	<ul class="shade-tint-strip neon-red">
		<li class="shade-tint-block tint-60">
			<span class="sg-label">60% Tint</span>
		</li>
		<li class="shade-tint-block tint-40">
			<span class="sg-label">30% Tint</span>
		</li>
		<li class="shade-tint-block tint-20">
			<span class="sg-label">20% Tint</span>
		</li>
		<li class="shade-tint-block hue">
			<span class="sg-label">natural</span>
		</li>
		<li class="shade-tint-block shade-20">
			<span class="sg-label">20% Shade</span>
		</li>
		<li class="shade-tint-block shade-40">
			<span class="sg-label">30% Shade</span>
		</li>
		<li class="shade-tint-block shade-60">
			<span class="sg-label">60% Shade</span>
		</li>
	</ul>

	<ul class="shade-tint-strip neon-green">
		<li class="shade-tint-block tint-60">
			<span class="sg-label">60% Tint</span>
		</li>
		<li class="shade-tint-block tint-40">
			<span class="sg-label">30% Tint</span>
		</li>
		<li class="shade-tint-block tint-20">
			<span class="sg-label">20% Tint</span>
		</li>
		<li class="shade-tint-block hue">
			<span class="sg-label">natural</span>
		</li>
		<li class="shade-tint-block shade-20">
			<span class="sg-label">20% Shade</span>
		</li>
		<li class="shade-tint-block shade-40">
			<span class="sg-label">30% Shade</span>
		</li>
		<li class="shade-tint-block shade-60">
			<span class="sg-label">60% Shade</span>
		</li>
	</ul>

	<ul class="shade-tint-strip neon-blue">
		<li class="shade-tint-block tint-60">
			<span class="sg-label">60% Tint</span>
		</li>
		<li class="shade-tint-block tint-40">
			<span class="sg-label">30% Tint</span>
		</li>
		<li class="shade-tint-block tint-20">
			<span class="sg-label">20% Tint</span>
		</li>
		<li class="shade-tint-block hue">
			<span class="sg-label">natural</span>
		</li>
		<li class="shade-tint-block shade-20">
			<span class="sg-label">20% Shade</span>
		</li>
		<li class="shade-tint-block shade-40">
			<span class="sg-label">30% Shade</span>
		</li>
		<li class="shade-tint-block shade-60">
			<span class="sg-label">60% Shade</span>
		</li>
	</ul>

	<ul class="shade-tint-strip dandelion">
		<li class="shade-tint-block tint-60">
			<span class="sg-label">60% Tint</span>
		</li>
		<li class="shade-tint-block tint-40">
			<span class="sg-label">30% Tint</span>
		</li>
		<li class="shade-tint-block tint-20">
			<span class="sg-label">20% Tint</span>
		</li>
		<li class="shade-tint-block hue">
			<span class="sg-label">natural</span>
		</li>
		<li class="shade-tint-block shade-20">
			<span class="sg-label">20% Shade</span>
		</li>
		<li class="shade-tint-block shade-40">
			<span class="sg-label">30% Shade</span>
		</li>
		<li class="shade-tint-block shade-60">
			<span class="sg-label">60% Shade</span>
		</li>
	</ul>

	<ul class="shade-tint-strip turquoise">
		<li class="shade-tint-block tint-60">
			<span class="sg-label">60% Tint</span>
		</li>
		<li class="shade-tint-block tint-40">
			<span class="sg-label">30% Tint</span>
		</li>
		<li class="shade-tint-block tint-20">
			<span class="sg-label">20% Tint</span>
		</li>
		<li class="shade-tint-block hue">
			<span class="sg-label">natural</span>
		</li>
		<li class="shade-tint-block shade-20">
			<span class="sg-label">20% Shade</span>
		</li>
		<li class="shade-tint-block shade-40">
			<span class="sg-label">30% Shade</span>
		</li>
		<li class="shade-tint-block shade-60">
			<span class="sg-label">60% Shade</span>
		</li>
	</ul>
</div>
